body {
  height: 100vh;
  width: 100%;
  background-color: #1F2833;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1.5rem;
}

.nav-bar-button-item {
  padding: 1rem 1rem;
  min-width: fit-content;
  font-weight: 700;
  letter-spacing: 3px;
  overflow: hidden;
}

.nav-bar-button-item a {
  position: relative;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #C5C6C7;
  font-size: 1.5rem;
}

.nav-bar-button-item a::before {
  content: '';
  position: absolute;
  bottom: -7px;
  left: -150px;
  width: 110%;
  height: 3px;
  background-color: aqua;
  border-radius: 5px;
  visibility: hidden;
}

.nav-bar-button-item a::after {
  content: '';
  position: absolute;
  top: -7px;
  left: 140px;
  width: 110%;
  height: 3px;
  background-color: aqua;
  border-radius: 5px;
  visibility: hidden;
}

.nav-bar-button-item a:hover {
  color: #45A29E;
}

.nav-bar-button-item a:hover::before {
  animation: animation-for-nav-bar-items-from-left-to-right 200ms linear forwards;
}

.nav-bar-button-item a:hover::after {
  animation: animation-for-nav-bar-items-from-right-to-left 200ms linear forwards;
}

@keyframes animation-for-nav-bar-items-from-left-to-right {
  0% {
    left: -140px;
  }

  100% {
    left: -5px;
    visibility: visible;
  }
}

@keyframes animation-for-nav-bar-items-from-right-to-left {
  0% {
    left: 140px;
  }

  100% {
    left: -4px;
    visibility: visible;
  }
}
